
.ScrollImg {
  position: relative;
  left: 155px;
}

.Github {
  transition: all .2s ease-in-out;
  position: relative;
  right: 75px;
}

.Github:hover {
  border-radius: 100%;
  transform: scale(1.1);
}

.Linkdin {
  transition: all .2s ease-in-out;
  position: relative;
  left: 50px;
}

.Linkdin:hover {
  border-radius: 100%;
  transform: scale(1.1);
}

.HomeIcon {
  transition: all .2s ease-in-out;
}

.HomeIcon:hover {
  transform: scale(1.2);
}

.InfoIcon {
  transition: all .2s ease-in-out;
}

.InfoIconL:hover {
  transform: scale(1.2);
}

.MailIcon {
  transition: all .2s ease-in-out;
}

.MailIcon:hover {
  transform: scale(1.2);
}



.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  }
  
  .scrollText {
    font-size: 1.5rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: 30px;
  }
  
  .parallax {
    margin-right: 15%;
  }
  
  .sticky {
    margin-left: 15%;
    color: white;
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 2px 2px 10px rgb(138, 138, 138);
    background-image: linear-gradient(#877EDF, transparent);
  }

  .light {
      color: white;
      box-shadow: 2px 2px 10px rgb(138, 138, 138);
      background-image: linear-gradient(transparent, #DDD1AB);
  }
  
  .links {
    color: white;
    box-shadow: 2px 2px 10px rgb(138, 138, 138);
    background-image: linear-gradient(transparent, #877EDF);
  }

  .blue {
    color: white;
    box-shadow: 2px 2px 10px rgb(138, 138, 138);
    background-image: linear-gradient(transparent, #76caaa);
  }
  
  .purple {
    color: white;
    box-shadow: 2px 2px 10px rgb(138, 138, 138);
    background-image: linear-gradient(transparent, #9d65d0);

  }
/*   
  @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  }
   */