.AboutBackground {
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/Home11.jpg);
  background-size: cover;
  min-height: 100%;
}



body {
  color: white;
}

/* Sidebar */

/* .origin {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.move {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-left: 200px;
} */
