  .AboutBackground {
    width: 100%;
    height: 220%;
    background-image: url(../Images/Home11Edit.jpg);
    background-size: cover;
    min-height: 100%;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    transition: ease all .5s;
    zoom: 175%;
  }
  
  

  .aboutSkillsTitle {
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    left: 200px;
    top: 10px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    font-family: "Great Vibes", cursive;
    transition: 850ms;
  }
  
  .box {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 450px;
    padding: 10px;
    position: relative;
    left: 200px;
    border-radius: 0%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 850ms;
  }
  
  .box h1 {
    opacity: 1;
  }
  
  .aboutFlex {
    display: flex;
    justify-content: center;
  }
  
  .aboutTextFlex {
    position: relative;
    margin-left: 420px;
    top: 60px;
    display: flex;
    justify-content: center;
    transition: 850ms;
  }
  
  .aboutTextFlex p {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    line-height: 1.3em;
  }
  
  .EducationTitle {
    transform: scale(1.2, 1);
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    left: 200px;
    top: 50px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    font-family: "News Cycle", sans-serif;
    transition: 850ms;
  }
  
  .EducationTitle hr {
    position: relative;
    bottom: 40px;
  }
  
  .EducationFlex {
    display: flex;
    justify-content: center;
    transition: 850ms;
  }

  .ProgressBar {
    position: relative;
    bottom: 30px;
  }
  
  .CSSTitle {
    position: relative;
    bottom: 50px;
  }
  
  .JavaScriptTitle {
    position: relative;
    bottom: 90px;
  }
  
  .HTMLTitle {
    position: relative;
    bottom: 130px;
  }
  
  .ReactIMGFlex {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .ReactIMG {
    height: 40px;
  }
  
  .ReactText {
    position: relative;
    left: 09px;
  }
  
  .CSSIMG {
    position: relative;
    right: 7px;
    height: 50px;
  }
  
  .CSSText {
    position: relative;
  }
  
  .JSIMG {
    position: relative;
    right: 15px;
    height: 37px;
  }
  
  .JSText {
    position: relative;
    right: 15px;
  }
  
  .HTMLIMG {
    height: 34px;
  }
  
  .HTMLText {
    position: relative;
    left: 14px;
  }
  
  .skillsImgFlex {
    display: flex;
  
  }
  
  .thinkful {
    height: 150px;
    position: relative;
    top: 3px;
  }

  .ThinkfulFlex {
    margin-left: 320px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
  }
  
  .cardFlex {
    justify-content: center;
    display: flex;
    padding: 50px;
  }
  
  .bnbCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 270px;
    margin-left: 400px;
    padding: 10px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
    transition: 850ms;
  }

  .capstoneCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 270px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
    transition: 850ms;
  }
  
  .FlashcardCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 270px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
    transition: 850ms;
  }
  
  .bnbCard:hover {
    bottom: 10px;
    transition: 700ms;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .capstoneCard:hover {
    bottom: 10px;
    transition: 700ms;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .FlashcardCard:hover {
    bottom: 10px;
    transition: 700ms;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .cardFlex img {
    height: 180px;
    width: 180px;
    transition: 850ms;
  }
  
  .cardTitle {
    font-size: 15px;
  
  }
  
  .cardP {
    font-size: 10px;
  }
  
  .cardText {
    position: relative;
    bottom: 15px;
  }
  
  .cardText p + p {
    position: relative;
    bottom: 10px;
  }
  
  .cardText p + p + p {
    position: relative;
    bottom: 20px;
  }

  @media only screen and (min-width: 1026px) and (max-width: 1880px) {
    .bnbCard {
      color: azure;
      text-shadow: 3px 2px 5px rgb(0, 0, 0);
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.1);
      width: 200px;
      height: 270px;
      margin-left: 400px;
      padding: 10px;
      border-radius: 0%;
      filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
      transition: 850ms;
      position: relative;
      bottom: 0;
      transition: 850ms;
    }
  
    .capstoneCard {
      color: azure;
      text-shadow: 3px 2px 5px rgb(0, 0, 0);
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.1);
      width: 200px;
      height: 270px;
      margin-left: 20px;
      padding: 10px;
      border-radius: 0%;
      filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
      transition: 850ms;
      position: relative;
      bottom: 0;
      transition: 850ms;
    }
    
    .FlashcardCard {
      color: azure;
      text-shadow: 3px 2px 5px rgb(0, 0, 0);
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.1);
      width: 200px;
      height: 270px;
      margin-left: 20px;
      padding: 10px;
      border-radius: 0%;
      filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
      transition: 850ms;
      position: relative;
      bottom: 0;
      transition: 850ms;
    }
  }


@media all and (min-width: 1025px) and (max-width: 1130px) {
  .bnbCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 270px;
    padding: 10px;
    left: 170px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
  }
  
  .capstoneCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 270px;
    padding: 10px;
    left: 210px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
  }

  .FlashcardCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 270px;
    padding: 10px;
    left: 250px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
  }

  .cardFlex img {
    height: 180px;
    width: 160px;
    transition: 850ms;
  }
}

@media all and (min-width: 950px) and (max-width: 1024px) {
  .bnbCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 160px;
    height: 270px;
    padding: 10px;
    left: 170px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
  }

  .capstoneCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 160px;
    height: 270px;
    padding: 10px;
    left: 210px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
  }

  .FlashcardCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 160px;
    height: 270px;
    padding: 10px;
    left: 250px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
  }

  .cardFlex img {
    height: 175px;
    width: 140px;
    transition: 850ms;
  }
}

/*@media all and (min-width: 860px) and (max-width: 949px) */
@media all and (min-width: 240px) and (max-width: 949px) {
  .bnbCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 270px;
    padding: 10px;
    left: -40px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
    transition: 850ms;
  }

  .capstoneCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 270px;
    padding: 10px;
    left: 0px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
    transition: 850ms;
  }
  
  .FlashcardCard {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 270px;
    padding: 10px;
    left: 40px;
    border-radius: 0%;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
    position: relative;
    bottom: 0;
    transition: 850ms;
  }

  .aboutSkillsTitle {
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    left: 0px;
    top: 10px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    font-family: "Great Vibes", cursive;
    transition: 850ms;
  }

  .box {
    color: azure;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 450px;
    padding: 10px;
    position: relative;
    left: 0px;
    border-radius: 0%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 850ms;
  }

  .EducationTitle {
    transform: scale(1.2, 1);
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    left: 0px;
    top: 50px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    font-family: "News Cycle", sans-serif;
    transition: 850ms;
  }

  .EducationFlex {

    position: relative;
    left: 0px;
    display: flex;
    justify-content: center;
    transition: 850ms;
  }

  .aboutTextFlex {
    position: relative;
    top: 60px;
    left: 0px;
    display: flex;
    justify-content: center;
    transition: 850ms;
  }

  .cardFlex img {
    height: 180px;
    width: 180px;
    transition: 850ms;
  }
}

@media all and (min-width: 768px) and (max-width: 860px) {

}

@media all and (min-width: 709px) and (max-width: 768px) {

}

@media all and (min-width: 512px) and (max-width: 709px) {

}

@media all and (min-width: 480px) and (max-width: 512px) {

}

@media all and (min-width: 240px) and (max-width: 480px) {

}