.ResumeBackground {
    background-image: url(../Images/Resume.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: 400ms;
    position:absolute;
}

.ZoomResumeBackground {
        background-image: url(../Images/Resume.jpg);
        background-size: cover;
        width: 100%;
        min-height: 263vh;
        box-shadow: 1px 0px 4px rgb(0, 0, 0);
        scroll-snap-align: start;
        transition: 400ms;
        position:absolute;
}

.ResumeBorder h1 {
    font-size: 60px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    color: azure;
    display: flex;
    justify-content: center;
    margin-right: 400px;
}

.ReactPDF {
    display: grid;
    justify-content: center;
}

.ResumeBorder {
    margin-top: 100px;
}

.zoomImg {
    zoom: 200%;
}

.unzoomImg {
    zoom: 200%;
}

.ResumeUI {
    background-color: rgb(168, 168, 168);
    border: 1px solid rgb(101, 101, 101);
    height: 40px;
    width: 619px;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ZoomInResumeUI {
    background-color: rgb(168, 168, 168);
    border: 1px solid rgb(101, 101, 101);
    height: 40px;
    width: 1546px;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ZoomOutResumeUI {
    background-color: rgb(168, 168, 168);
    border: 1px solid rgb(101, 101, 101);
    height: 40px;
    width: 441px;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ZoomUI {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.DownloadUI {
    display: flex;
    align-items: center;
}

.border {
}

.ResumeBorder hr {
    height: 39px;
}

.ResumeBorder button {
    background-color: rgb(168, 168, 168);
    border-style: outset;
    border-color:rgb(168, 168, 168);
    cursor: pointer;

}

.ResumeBorder button:active {
    border-style: inset;
}

@media only screen and (min-width: 1026px) and (max-width: 1880px) {
    .ResumeBackground {
        background-image: url(../Images/Resume.jpg);
        background-size: cover;
        width: 100%;
        min-height: 115vh;
        box-shadow: 1px 0px 4px rgb(0, 0, 0);
        scroll-snap-align: start;
        transition: 400ms;
        position:absolute;
    }

    .ZoomResumeBackground {
        background-image: url(../Images/Resume.jpg);
        background-size: cover;
        min-height: 100%;
        width: 100%;
        min-height: 305vh;
        box-shadow: 1px 0px 4px rgb(0, 0, 0);
        scroll-snap-align: start;
        transition: 400ms;
        position:absolute;
}
}

@media all and (min-width: 240px) and (max-width: 480px) {
    .ResumeBackground {
        background-image: url(../Images/Resume.jpg);
        background-size: cover;
        width: 100%;
        min-height: 118vh;
        box-shadow: 1px 0px 4px rgb(0, 0, 0);
        scroll-snap-align: start;
        transition: 400ms;
        position:absolute;
    }

    .ResumeBorder {
        overflow-x: hidden;
    }

    .ResumeBorder h1 {
        font-size: 60px;
        text-shadow: 3px 2px 5px rgb(0, 0, 0);
        color: azure;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .ResumeUI {
        background-color: rgb(168, 168, 168);
        border: 1px solid rgb(101, 101, 101);
        height: 40px;
        width: 442px;
        color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ZoomUI {
        display: none;
        margin-left: 40px;
        align-items: center;
    }
}