.divider {
  display: flex;
  flex: 1;
}

header {
  width: 100vw;
}

.Header {
  background: linear-gradient(to left, #6976ac, #111835);
  margin-bottom: 0;
  box-shadow: -1px 2px 5px rgb(0, 0, 0);
  position: relative;
}

.HeaderFlex {
  display: flex;
  flex-direction: row;
  height: 90px;
}

.HeaderLogoFlex img {
  height: 130px;
  position: relative;
  bottom: 20px;
  left: 45px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0;
}

.HeaderLogoFlex img:hover {
  background-color: #344899a9;
  border-radius: 500px;
  box-shadow: 2px 2px 100px rgb(0, 0, 0);
  transform: scale(1.1);
  cursor: pointer;
}

.Linkedin {
  display: flex;
  position: relative;
  right: 65px;
  align-items: center;
}

.Linkedin a {
  height: 50px;
  display: flex;
  align-items: center;
}

.Linkedin Img {
  max-height: 120%;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  transition: 400ms;
}

.Linkedin img:hover {
  background-color: rgba(255, 238, 0, 0.822);
  border-radius: 100%;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  transition: 400ms;
}

.Github {
  display: flex;
  position: relative;
  right: 95px;
}

.Github a {
  display: flex;
  align-items: center;
}

.Github Img {
  max-height: 72%;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  transition: 400ms;
}

.Github Img:hover {
  background-color: rgba(255, 238, 0, 0.822);
  box-shadow: 0px 0px 1.5px rgb(255, 255, 255);
  border-radius: 100%;
  transition: 400ms;
}

.Resume button {
  border-radius: 15%;
  height: 60%;
  width: 85px;
  color: #00f7ff;
  font-family: "Heebo", sans-serif;
  background: #6774a9;
  border: 2px solid #00f7ff;
  transition: 700ms;
}

.Resume button:hover {
  border: 2px solid rgb(255, 255, 255);
  color: azure;
  background: #6774A9;
  transition: 700ms;
  box-shadow: 1px 1px 25px rgb(255, 255, 255);
  cursor: pointer;
}

.Resume button:active {
  border: 0px solid #000000;
  box-shadow: 1px 1px 25px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.Resume a:visited {
  text-decoration: none;
  color: #00f7ff;
  transition: 400ms;
}

.Resume {
  position: relative;
  right: 40px;
  top: 18px;
}

.Renew {
  position: fixed;
  right: 50px;
  top: 13px;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.7s ease-in-out;
}

.Renew:hover {
  transform: rotate(360deg);
}

.HeaderActive{
  position: fixed;
  top: 0px;
  transition: 0.3s linear;
  z-index: 40;

}
.HeaderHidden{
  z-index: 40;
  position: fixed;
  top: -115px;
  transition: 0.3s linear;
}

@media all and (min-width: 240px) and (max-width: 480px) {
  .HeaderLogoFlex img {
    height: 130px;
    position: relative;
    bottom: 20px;
    left: 0px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0;
  }

  .Linkedin {
    display: none;
    position: relative;
    right: 65px;
    align-items: center;
  }

  .Github {
    display: none;
    position: relative;
    right: 95px;
  }
  .HeaderHidden{
    z-index: 40;
    position: fixed;
    top: 0px;
    transition: 0.3s linear;
  }
}