
  .ContactBackground {
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/Contact2.jpg);
    background-size: cover;
    min-height: 100%;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
  }

   .ContactText h1 {
    font-size: 45px;
    position: relative;
    margin: 0;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    font-family: "Archivo", sans-serif;
    left: 665px;
    top: 200px
  }
  
  span {
    font-size: 3em;
  }
