.ContactBackground {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/Contact2Edit.jpg);
  background-size: cover;
  box-shadow: 1px 0px 4px rgb(0, 0, 0);
  transition: ease all .5s;
  
}

  .aboutTestFlex {
    position: relative;
    top: 60px;
    left: 212px;
    display: flex;
    justify-content: center;
    transition: 850ms;
  }

.ContactFlex {
  justify-content: center;
  color: azure;
  display: inline-flex;
  position: relative;
  top: 200px;
  left: 530px;
  zoom: 175%;
}

.phoneFlex1 {
  position: relative;
  top: 35px;
  justify-content: space-between;
  display: flex;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

.phoneFlex2 {
  position: relative;
  bottom: -10px;
  justify-content: space-between;
  display: flex;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

.buttonFlex {
  position: relative;
  display: flex;
  justify-content: center;
}

.phoneText {
  display: flex;
  justify-content: flex-start;
}

.emailText {
  display: flex;
  justify-content: flex-end;
}

.ContactText button {
  border-radius: 5%;
  height: 40px;
  width: 75px;
  color: #00f7ff;
  font-family: "Heebo", sans-serif;
  background: #494949;
  border: 1px solid #00f7ff;
  transition: 700ms;
  position: relative;
  top: 25px;
}

.ContactText button:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background: #00f7ff;
  transition: 400ms;
  box-shadow: 0px 0px 5px #00f7ff;
  cursor: pointer;
}

.ContactText button:active {
  background: #ffffff36;
  border: 0px solid #000000;
  box-shadow: 1px 1px 25px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.ContactText h1 {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin: 0;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  font-family: "Archivo", sans-serif;
}

.ContactText p {
  display: flex;
  justify-content: center;
  color: azure;
  font-size: 20px;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  position: relative;
  margin: 0;
  font-family: "Heebo", sans-serif;
}

/* @media all and (min-width: 1025px) and (max-width: 1200px) {

}

@media all and (min-width: 950px) and (max-width: 1024px) {

} */

@media all and (min-width: 240px) and (max-width: 949px) {
  .ContactFlex {
    justify-content: center;
    color: azure;
    display: flex;
    position: relative;
    top: 200px;
    left: 0px;
  }
}

/* @media all and (min-width: 768px) and (max-width: 860px) {

}

@media all and (min-width: 709px) and (max-width: 768px) {

}

@media all and (min-width: 512px) and (max-width: 709px) {

}

@media all and (min-width: 480px) and (max-width: 512px) {

}

@media all and (min-width: 240px) and (max-width: 480px) {

} */