.ContactBackground {
  background-image: url(../Images/Contact2Edit.jpg);
  background-size: cover;
  box-shadow: 1px 0px 4px rgb(0, 0, 0);
  transition: ease all .5s;
}

.ContactPadding {
  padding: 40px;
}

.ContactTextBorder {
  width: 100vw;
  display: flex;
  justify-content: center;
}


  .ContactPosition {
    position: relative;
    display: flex;
    align-items: center ;
  }

.ContactFlex {
  justify-content: space-between;
  color: azure;
  display: flex;
  zoom: 175%;
}

.phoneFlex1 {
  position: relative;
  top: 1.4vw;
  justify-content: space-between;
  display: flex;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

.phoneFlex2 {
  position: relative;
  justify-content: space-between;
  display: flex;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  font-size: 0.74vw;

}

.buttonFlex {
  position: relative;
  display: flex;
  justify-content: center;
}

.phoneText {
  display: flex;
  justify-content: flex-start;
  font-size: 0.74vw;
}

.emailText {
  display: flex;
  justify-content: flex-end;
  font-size: 0.74vw;
}

.ContactTextP {
  color: azure;
  font-size: 0.93vw;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  position: relative;
  margin: 0;
  font-family: "Heebo", sans-serif;
}

.ContactText button {
  border-radius: 5%;
  line-height: 0.7vw;
  font-size: 0.56vw;
  height: 1.86vw;
  width: 3.5vw;
  color: #00f7ff;
  font-family: "Heebo", sans-serif;
  background: #494949;
  border: 1px solid #00f7ff;
  transition: 700ms;
  position: relative;
}

.ContactText button:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background: #00f7ff;
  transition: 400ms;
  box-shadow: 0px 0px 5px #00f7ff;
  cursor: pointer;
}

.ContactText button:active {
  background: #ffffff36;
  border: 0px solid #000000;
  box-shadow: 1px 1px 25px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.ContactText h1 {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2.1vw;
  margin: 0;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  font-family: "Archivo", sans-serif;
}

.ContactText p {
  display: flex;
  justify-content: center;
}

.ContactText p + p {
  position: relative;
  bottom: 0.5vw;
}

/* @media only screen and (min-width: 1026px) and (max-width: 1880px) {
  .ContactPosition {
    position: relative;
    top: 150px;
    left: 130px;
  }
}

@media all and (min-width: 240px) and (max-width: 480px) {
  .ContactFlex {
    justify-content: center;
    color: azure;
    display: flex;
    zoom: 100%;
  }

  .ContactPosition {
    padding: 20px;
    position: relative;
    top: 200px;
    left: 0px;
  }

  .ContactText p {
    text-align: center;
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 20px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
  }
} */