html,
body,
#root {
  height: 100%;
  width: 100%;
}

.text p {
  color: azure;
  font-size: 20px;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  position: relative;
  bottom: 30px;
  margin: 0;
  font-family: "Heebo", sans-serif;
}

.SkillTitle {
  position: relative;
  left: 14px;
  bottom: 3px;
}

.SkillFlex {
  max-height: 10px;
  display: flex;
  justify-content: space-between;
  transition: 1000ms;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

.text {
  max-height: 10px;
  display: flex;
  justify-content: space-between;
  transition: 1000ms;
}

.noText {
  display: none;
  transition: 1000ms;
}


.React {
  position: relative;
  bottom: 55px;
  right: 204px;
}

.CSS {
  position: relative;
  bottom: 55px;
  right: 133px;
}

.JavaScript {
  position: relative;
  bottom: 55px;
  right: 83px;
}

.HTML {
  position: relative;
  bottom: 55px;
  right: 37px;
}

.Node {
  position: relative;
  top: 16px;
  right: 445px;
}

.Bootstrap {
  position: relative;
  top: 16px;
  right: 405px;
}

.text p {
  transition: 700ms;
  text-decoration: none;
}

.SkillFlex p:hover {
  color: #00f7ff;
  transition: 700ms;
  transform: scale(0.98);
}
