.wrapper {
  height: 100vh;
  width: 100vh;
  padding: 20px;
  display: contents;
  transition: 300ms;
}

.hidden {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(10.28vw, 1fr));
  grid-gap: 1vw;
  padding: 1vw;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px white;
  will-change: width, height;
  border: 2px solid white;
  transition: 400ms;
  position: relative;
}

.container {
  opacity: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
  will-change: width, height;
  border: 2px solid #ffffff;
  transition: 500ms;
}

.containerText {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    font-size: 1.5vw;
    color: azure;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 4.1vw;
    text-shadow: 1px 1px 5px rgb(71, 71, 71);
    vertical-align: top;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 1;
    will-change: width, height;
    transition-delay: 10.30s;
    transition: 500ms;
}

.full {
  transition: 500ms;
  transition-delay: 10.30s;
  opacity: 1;
}
.empty {
opacity: 0;
  transition: 500ms;
}

.container:hover {
  box-shadow: 0px 1px 10px 1px #00f7ff;
  border: 2px solid #00f7ff;
  transition: 300ms;
}

.item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
  box-shadow: 0px 0px 5px 0px rgb(83, 83, 83);
  border: 2px outset rgb(255, 255, 255);
  transition: 700ms;

}

.containerText:hover{
  color: #00f7ff;

  transition: 700ms;
}

.item:active {
  box-shadow: 0px 1px 10px 1px #0000004d;
  border: 2px outset #0000004d;
  transition: 700ms;
}

/* @media all and (min-width: 1025px) and (max-width: 1200px) {
  .hidden {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 15px;
    padding: 25px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px white;
    will-change: width, height;
    border: 2px solid white;
    transition: 400ms;
    top: 80px;
    right: 70px;
    position: relative;
  }
  
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 15px;
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
    will-change: width, height;
    border: 2px solid #ffffff;
    transition: 500ms;
    height: 100vh;
    width: 100vh;
    top: 80px;
    right: 70px;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .hidden {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 15px;
    padding: 25px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px white;
    will-change: width, height;
    border: 2px solid white;
    transition: 400ms;
    top: 80px;
    right: 70px;
    position: relative;
  }
  
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 15px;
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
    will-change: width, height;
    border: 2px solid #ffffff;
    transition: 500ms;
    height: 100vh;
    width: 100vh;
    top: 100px;
    right: 90px;
  }
}
@media all and (min-width: 240px) and (max-width: 480px) {

  .hidden {
    position: relative;
    display: none;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 35px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px white;
    will-change: width, height;
    border: 2px solid white;
    transition: 400ms;
    left: 150px;
    top: 35px;
    position: relative;
  }

  .hidden {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 35px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px white;
    will-change: width, height;
    border: 2px solid white;
    transition: 400ms;
    left: -150px;
    top: 35px;
    position: relative;
  }
} */