body {
  margin: 0;
  padding: 0;
}

/* .WelcomeBackground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./Images/Welcome4.jpg);
  background-size: cover;
  min-height: 100%;
  
} */

.WelcomeName {
  display: inline;
  font-size: 75px;
  color: azure;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
  font-family: "Playfair Display SC", serif;
  position: relative;
}

.WelcomeTitle {
  display: inline;
  font-size: 55px;
  color: azure;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-family: "Playball", cursive;
  position: relative;
  top: 30px;
}

.WelcomeBody {
  margin: 0;
  padding: 0;
  text-align: center;
}

.WelcomeNav {
  text-align: center;
  font-size: 50px;
  color: azure;
  position: relative;
  bottom: 170px;
}

.WelcomeNav:active {
  color: white;
}

.WelcomeNav:hover {
  color: #8a8be7;
}

/* Footer */

footer {
  background: linear-gradient(to right, rgb(255, 255, 255), #111835);
  box-shadow: 10px 2px 5px rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.FooterFlex {
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
}