/* @media all and (min-width: 1201px)  { */
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  body {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .border {
    scroll-snap-type: y mandatory;
  }

  .SnapScroll {
    scroll-snap-align: start;
  }

  .profileInline {
    display: inline;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 196px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
    transition-delay: 0.20s;
  }

  .ProfileFlex {
    display: flex;
    justify-content: center;
  }

  .ProfileImg {
    transition: 600ms;
  }

  .ProfileSize img {
    width: 425px;
    height: 425px;
  }

  .ProfileImg:hover {
    cursor: pointer;
    transition: 850ms;
  }

  .SliderFlex {
    display: flex;
    justify-content: center;
  }


  .IntroductionText {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .SkillsTextFlex {
    display: flex;
    justify-content: center;

  }

  .SkillsText {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 480px;
  }


  .SkillsAnim {
    position: relative;
    bottom: 180px;
    left: 360px;
    height: 35vh;
    width: 40%;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 300px;
    transition: ease all .5s;
  }

  .SkillsText p {
    position: relative;
    top: 520px;
    left: 80px;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 45px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 20px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    transition: ease all .5s;
  }

  .origin {
  }

  .originPages {
    transition: 450ms;
  }

  .movePages {
    padding-left: 201px;
    transition: 850ms;
  }

  .originImg {
    transition: 450ms;
  }

  .moveImg {
    padding-left: 200px;
    transition: 850ms;
    transition-delay: 0.20s;
  }

  .originPic {
    position: relative;
    top: 0;
    transition: 850ms;
  }

  .originPic div {
    transition: 600ms;
    position:fixed;
    filter: drop-shadow(16px 16px 20px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .originPic div:hover {
    transition: 850ms;
    filter: drop-shadow(4px 10px 20px rgb(255, 255, 255, 0.6)) brightness(1);
  }

  .movePic {
    position: relative;
    top: 335px;
    transition: 850ms;
  }

  .movePic div {
    transition: 600ms;
    position: fixed;
    filter: drop-shadow(16px 16px 20px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }
  .movePic div:hover {
    transition: 850ms;
    filter: drop-shadow(4px 10px 20px rgb(255, 255, 255, 0.6)) brightness(1);
  }


/* --------------------------------------------------- */

/* @media all and (min-width: 240px) and (max-width: 480px) {
  .HomeBackground img {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 500px;
    max-height: 500px;
  }
  .flexImg {
    position: relative;
    bottom: 700px;
    left: 1000px;
  }

  .Position {
    display: inline;
    position: relative;
    top: 62px;
    background-attachment: fixed;
    align-self: flex-start;
  }

  .ProfileImg {
    margin: 0;
    padding: 0;
    top: 208px;
    filter: drop-shadow(16px 16px 20px rgba(185, 185, 185, 0.603))
      brightness(0.9);
  }

  .HomeBackground {
    background-image: url(../Images/Home3.jpg);
    background-size: cover;
    min-height: 100%;
  }

  .IntroductionText {
    text-align: center;
  }

  .Introduction {
    display: inline;
    border: 5px solid red;
    text-align: center;
    position: relative;
    top: 0px;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: ease all .5s;

  }
} */

/* @media all and (min-width: 481px) and (max-width: 768px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
  }

  body {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .border {
    scroll-snap-type: y mandatory;
  }

  .SnapScroll {
    scroll-snap-align: start;
  }

  .mapZoom {
    display: inline-block;
    position: relative;
    right: 85px;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
  }

  .mapZoom:hover {
    cursor: pointer;
    transform: scale(0.97);
  }

  .mapImg {
    display: inline-block;
    position: relative;
    left: 865px;
    bottom: 140px;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
  }

  .mapPosition {
    display: inline;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
  }

  .MapText {
    color: azure;
    display: inline;
    position: relative;
    bottom: 180px;
    left: 1070px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
  }

  .profileInline {
    display: inline;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 189px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
  }

  .ProfileImg {
    transition: 600ms;
  }

  .ProfileImg:hover {
    cursor: pointer;
    transition: 850ms;
  }
  .IntroductionText {
    display: flex;
    position: relative;
    top: 90px;
    left: 380px;
  }

  .SkillsText {
    position: relative;
    bottom: 480px;
    left: 580px;
  }

  .SkillsAnim {
    position: relative;
    bottom: 180px;
    left: 550px;
    height: 35vh;
    width: 40%;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 300px;
    right: 120px;
  }

  .SkillsText p {
    position: relative;
    top: 520px;
    left: 80px;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 45px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
  }

  .IntroductionText p {
    color: azure;
    font-size: 20px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    bottom: 30px;
    margin: 0;
    font-family: "Heebo", sans-serif;
  }

  .Music p {
    text-align: right;
    position: relative;
    top: 250px;
    left: 400px;
  }

  .Music img {
    position: relative;
    left: 1700px;
    top: 300px;
    height: 10vh;
    border-radius: 100%;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
  }

  .Music img:hover {
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
  }

  .origin {
  }

  .originPages {
    transition: 450ms;
  }

  .movePages {
    padding-left: 201px;
    transition: 850ms;
  }

  .originImg {
    transition: 450ms;
  }

  .moveImg {
    padding-left: 200px;
    transition: 850ms;
    transition-delay: 0.20s;
    
  }
  .originPic {
    position: relative;
    top: 0;
    transition: 850ms;
    
  }

  .originPic div {
    transition: 600ms;
    position:fixed;
    filter: drop-shadow(16px 16px 20px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }
  .originPic div:hover {
    transition: 850ms;
    filter: drop-shadow(4px 10px 20px rgb(255, 255, 255, 0.6)) brightness(1);
  }

  .movePic {
    position: relative;
    top: 335px;
    transition: 850ms;
  }

  .movePic div {
    transition: 600ms;

    position: fixed;
    filter: drop-shadow(16px 16px 20px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }
  .movePic div:hover {
    transition: 850ms;
    filter: drop-shadow(4px 10px 20px rgb(255, 255, 255, 0.6)) brightness(1);
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
  }

  body {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .border {
    scroll-snap-type: y mandatory;
  }

  .SnapScroll {
    scroll-snap-align: start;
  }

  .mapZoom {
    display: inline-block;
    position: relative;
    right: 85px;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
    transition: 850ms;
  }

  .mapZoom:hover {
    cursor: pointer;
    transform: scale(0.97);
  }

  .mapImg {
    display: inline-block;
    position: relative;
    left: 865px;
    bottom: 140px;
    filter: drop-shadow(16px 16px 20px rgba(93, 93, 93, 0.603));
  }

  .mapPosition {
    display: inline;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
  }

  .MapText {
    color: azure;
    display: inline;
    position: relative;
    bottom: 180px;
    left: 1070px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
  }

  .profileInline {
    display: inline;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 189px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
  }

  .ProfileImg {
    transition: 600ms;
  }

  .ProfileImg:hover {
    cursor: pointer;
    transition: 850ms;
  }
  .IntroductionText {
    display: flex;
    position: relative;
    top: 90px;
    left: 380px;
  }

  .SkillsText {
    position: relative;
    bottom: 480px;
    left: 580px;
  }

  .SkillsAnim {
    position: relative;
    bottom: 180px;
    left: 550px;
    height: 35vh;
    width: 40%;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 300px;
    right: 120px;
  }

  .SkillsText p {
    position: relative;
    top: 520px;
    left: 80px;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 45px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
  }

  .IntroductionText p {
    color: azure;
    font-size: 20px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    bottom: 30px;
    margin: 0;
    font-family: "Heebo", sans-serif;
  }

  .Music p {
    text-align: right;
    position: relative;
    top: 250px;
    left: 400px;
  }

  .Music img {
    position: relative;
    left: 1700px;
    top: 300px;
    height: 10vh;
    border-radius: 100%;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
  }

  .Music img:hover {
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
  }

  .origin {
  }

  .originPages {
    transition: 450ms;
  }

  .movePages {
    padding-left: 201px;
    transition: 850ms;
  }

  .originImg {
    transition: 450ms;
  }

  .moveImg {
    padding-left: 200px;
    transition: 850ms;
    transition-delay: 0.20s;
    
  }
  .originPic {
    position: relative;
    top: 0;
    transition: 850ms;
    
  }

  .originPic div {
    transition: 600ms;
    position:fixed;
    filter: drop-shadow(16px 16px 20px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }
  .originPic div:hover {
    transition: 850ms;
    filter: drop-shadow(4px 10px 20px rgb(255, 255, 255, 0.6)) brightness(1);
  }

  .movePic {
    position: relative;
    top: 335px;
    transition: 850ms;
  }

  .movePic div {
    transition: 600ms;

    position: fixed;
    filter: drop-shadow(16px 16px 20px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }
  .movePic div:hover {
    transition: 850ms;
    filter: drop-shadow(4px 10px 20px rgb(255, 255, 255, 0.6)) brightness(1);
  }
} */


@media all and (min-width: 1025px) and (max-width: 1200px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
    transition: ease all .5s;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 208px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 18px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 380px;
    right: 20px;
    transition: ease all .5s;
  }
}

@media all and (min-width: 950px) and (max-width: 1024px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }



  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 208px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 18px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
}

 @media all and (min-width: 860px) and (max-width: 949px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 17px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 16px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 768px) and (max-width: 860px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 17px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 16px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 709px) and (max-width: 768px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 17px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 512px) and (max-width: 709px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 150px;
    top: 60px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic {
    right: 336px;
    position: relative;
    top: 0;
    transition: 850ms;
    display: flex;
    justify-content: center;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 250px;
    right: 80px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 250px;
    right: 107px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 500px;
    right: 108px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 480px) and (max-width: 512px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 150px;
    top: 60px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic {
    right: 336px;
    position: relative;
    top: 0;
    transition: 850ms;
    display: flex;
    justify-content: center;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 250px;
    right: 80px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 250px;
    right: 107px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 500px;
    right: 108px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 240px) and (max-width: 480px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 150px;
    top: 60px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic {
    right: 336px;
    position: relative;
    top: 0;
    transition: 850ms;
    display: flex;
    justify-content: center;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 250px;
    right: 80px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 250px;
    right: 107px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 500px;
    right: 108px;
    transition: ease all .5s;
  }
 }
