.HomeBorder {
  width: 100%;
}

.HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    transition: ease all .5s;
}

.ZeroHeader {
    background-image: url(../Images/Home12.jpg);
    margin-bottom: 0;
    position: relative;
    height: 90px;
  }

.border {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

.darken {
    filter: brightness(0.5);
    transition: 400ms;
    transition-delay: 0.20s;
}

.bright {
    opacity: 1;
    transition: 400ms;
}

.NewPosition {
    display: flex;
    align-items: flex-end;
    min-width: 0;
}

.NewPosition img {
    transition: 400ms;
    width: 70vw;
    height: 34.8vw;
    filter: drop-shadow(1px 10px 20px rgba(0, 0, 0, 0.6)) brightness(0.8);
}   

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.IntroductionText {
    align-items: flex-end;
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 4vw;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    transition: ease all .5s;
}

.IntroductionP {
  padding-top: 40px;
}

.IntroductionText p {
    color: azure;
    font-size: 1.63vw;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    transition: ease all .5s;
    padding-right: 40px;
}

.sliderFlex {
    padding-right: 50px;
    padding-top: 20px;
  }

.SkillsText {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: 20.7vw;
    padding-top: 1.87vw;
    box-sizing: border-box;
}

.SkillsPadding {
  position: relative;
  right: 130px;
  display: flex;
}

.SkillsText button:hover {
    border: 2px solid #00f7ff;
    transition: 850ms;
    cursor: pointer;
    box-shadow: 1px 1px 25px rgb(255, 255, 255);
    padding-left: 10px;
}

.SkillsText button:active {
    border: 0px solid #000000;
    box-shadow: 1px 1px 25px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.ContactButton button  p {
    color: azure;
    font-size: 1.39vw;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

.ContactButton button {
    background-color: transparent;
    width: 13.9vw;
    height: 4.62vw;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid azure;
    transition: 400ms;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
}

.ContactButtonText {
    opacity: 1;
    transition: 850ms;
}

 .ContactButtonText:hover {
     padding-left: 47%;
    transition: 850ms;
    color: transparent;
    text-shadow: 3px 2px 5px transparent;
}

.arrowButton {
    padding-left: 330px;
}

.arrowButton button {
    background-color: transparent;
    height: 4.62vw;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid azure;
    transition: 400ms;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
    width: 2vw;
}

/* .socialsBar {
    width: 8vw;
    height: 100%;
    border-left: solid #2F5262 2px;
} */






/* --------------------------------------------------- */

/* @media only screen and (min-width: 1026px) and (max-width: 1880px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .ProfileSize img {
    width: 675px;
    height: 675px;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 403px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
    transition-delay: 0.20s;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 80px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 30px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 45px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 350px;
    transition: ease all .5s;
  }

  .SkillsAnim {
    position: relative;
    bottom: 230px;
    left: 500px;
    width: 40%;
    transition: 400ms;
  }
} */



/* @media all and (min-width: 1025px) and (max-width: 1200px) {
  .HomeBackground {
    background-image: url(../Images/Home2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
    transition: ease all .5s;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 208px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 18px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 380px;
    right: 20px;
    transition: ease all .5s;
  }
}

@media all and (min-width: 950px) and (max-width: 1024px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }



  .ProfilePosition {
    display: inline;
    position: relative;
    left: 0px;
    top: 208px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 18px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 20px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
}

 @media all and (min-width: 860px) and (max-width: 949px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 17px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 16px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 768px) and (max-width: 860px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 17px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 16px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 709px) and (max-width: 768px) {
  .HomeBackground {
    background-image: url(../Images/Home1.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 17px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 90px;
    right: 60px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 400px;
    right: 20px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 512px) and (max-width: 709px) {
  .HomeBackground {
    background-image: url(../Images/Home1.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 150px;
    top: 60px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic {
    right: 336px;
    position: relative;
    top: 0;
    transition: 850ms;
    display: flex;
    justify-content: center;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 250px;
    right: 80px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 250px;
    right: 107px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 500px;
    right: 108px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 480px) and (max-width: 512px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 554px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .movePic {
    position: relative;
    top: 266px;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 150px;
    top: 60px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic {
    right: 336px;
    position: relative;
    top: 0;
    transition: 850ms;
    display: flex;
    justify-content: center;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 250px;
    right: 80px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 13px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 250px;
    right: 107px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 500px;
    right: 108px;
    transition: ease all .5s;
  }
 }

 @media all and (min-width: 240px) and (max-width: 480px) {
  .HomeBackground {
    background-image: url(../Images/Home12.jpg);
    background-size: cover;
    width: 100%;
    height: 1010px;
    box-shadow: 1px 0px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
    transition: ease all .5s;
  }

  .moveHome {
      background-image: url(../Images/Home12.jpg);
      background-size: cover;
      min-height: 100%;
      width: 100%;
      height: 1400px;
      box-shadow: 1px 0px 4px rgb(0, 0, 0);
      scroll-snap-align: start;
      transition: ease all .5s;
  }

  .ProfileSize img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid grey;
  }

  .ProfilePosition {
    display: inline;
    position: relative;
    left: 250px;
    top: 100px;
    background-attachment: fixed;
    align-self: flex-start;
    margin: auto;
    transition: ease all .5s;
  }

  .originPic {
    right: 336px;
    position: relative;
    top: 0;
    transition: 850ms;
    display: flex;
    justify-content: center;
  }

  .originPic div {
    transition: 600ms;
    position:absolute;
    filter: drop-shadow(2px 7px 6px rgba(47, 47, 47, 0.5)) brightness(0.8);
  }

  .IntroductionText {
    display: flex;
    justify-content: center;
    position: relative;
    right: 0px;
    top: 270px;
  }

  .IntroductionText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 70px;
    transition: ease all .5s;
  }

  .IntroductionText p {
    color: azure;
    font-size: 17px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    margin: 0;
    font-family: "Heebo", sans-serif;
    position: relative;
    top: 0px;
    right: 0px;
    transition: ease all .5s;
  }

  .SkillsText h1 {
    color: azure;
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    position: relative;
    right: 0px;
    transition: ease all .5s;
  }

  .SkillsText {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    left: 0px;
  }

  .moveImg {
    padding-left: 0px;
    transition: 850ms;
    transition-delay: 0.0s;
  }

  .border {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }

  .movePic {
    position: relative;
    top: 0px;
    right: 0px;
    transition: 850ms;
  }

  .movePages {
    padding-left: 0px;
    transition: 850ms;
  }
 } */
